<%= render 'head' %>
<div class="bar">
  Topics
</div>
<div class="wrap">
  <%= form_with model: @movie, url: movies_path, class: 'wrap__new-movie', method: :post, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: @movie %>
    <div class="wrap__new-movie__field category">
      <%= f.label 'category', class: "movie__field" %>
      <br/>
      <%= f.select :category, {'料理': 1, '映画': 2, 'ジム・トレーニング': 3, '音楽': 4}, { include_blank: '選択してください'}, {class: "wrap__new-movie__field__window", id: 'parent_category'} %>
    </div>

    <div class="wrap__new-movie__field">
      <%= f.label :title, "Title", class: "movie__field" %>
      <br/>
      <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "例：ダイハード", class: "wrap__new-movie__field__window" %>
    </div>

    <div class="wrap__new-movie__field">
      <%= f.label :body, "First_comment", class: "movie__field" %>
      <br/>
      <%= f.text_area :body, autofocus: true, autocomplete: "body", class: "wrap__new-movie__field__window-1" %>
    </div>

    <div class="wrap__new-movie__field">
      <%= f.label :image, "Neta_photo", class: "movie__field-image" %>
      <label class="label">
        <%= icon('far', 'file-image', class: "icon-image" ) %>
        <%= f.file_field :image, autocomplete: "image", class: "wrap__new-movie__field__window-image" %>
      </label>
    </div>

    <div class="wrap__new-movie__actions">
      <%= f.submit  "保存", class: "wrap__new-movie__actions__btn" %>
    </div>
  <% end %>
</div>
